/* General */

html {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}

body {
    
}

a {
    text-decoration: none;
    color: #E5E7EB;
}


/* Header */

header {
    background-color: #1F2937;
}

.header img {

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}

.header i {

}

.header .links {

}

ul {
    display: flex;
    gap: 80px;
    list-style-type: none;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 200px;
    
}

.intro img {
    width: 400px;
    height: 225px;
}

.intro-text {
    width: 400px;
}

.intro-text h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    margin: 0;
}

.intro-text p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.intro-text button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    width: 90px;
    height: 30px;
    margin: 0;
}

.intro-text button:hover {
    cursor: pointer;
}

/* Main */

main {

}

/* Random information */

.random-information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random-information h1 {
    font-size: 36px;
    color: #1F2937;
}

.cards {
    display: flex;
}

.cards img {
    width: 100px;
    height: auto;
    border-radius: 5px;
}

.card {
    width: 150px;
}

/* Quote */

.quote {
    padding: 0 200px;
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    margin: 0;
}

.quote-author {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

/* CTA */

.cta {
    margin: 0 200px;
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 5px;
}

.cta-content {
    margin: 0;
    display: flex;
    
}

.cta-text p{
    margin: 0;
}

.cta button {
    margin: 0;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    width: 90px;
    height: 30px;
    margin: 0;
}

/* Footer */

footer {
    background-color: #1F2937;
    padding: 0 200px;
}